[tools]
rust = "1.93.0"
usage = "latest"
shellcheck = "latest"
shfmt = "latest"
yamllint = "latest"
ruby = "3.3"
"cargo:cargo-llvm-cov" = "latest"

[env]
# For Jekyll gems
GEM_HOME = "{{config_root}}/.gems"
PATH = "{{config_root}}/.gems/bin:{{env.PATH}}"
