// Morphir Dark Color Scheme
// Based on https://morphir.finos.org dark mode palette

@import "./dark";

// Primary teal from morphir.finos.org dark mode
$teal-000: #e0f7f3;
$teal-100: #b3ece1;
$teal-200: #80dfcd;
$teal-300: #4dd2b9;
$teal-400: #25c2a0;  // Primary dark mode color from morphir
$teal-500: #21af90;
$teal-600: #1fa588;
$teal-700: #1a8870;
$teal-800: #166b58;
$teal-900: #124f42;

// Override link color for dark mode
$link-color: $teal-400;
